<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ResolveHub{% endblock %} - Ticket Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {% include 'components/toast.twig' %}
    {% block content %}{% endblock %}
    
    <script src="/js/app.js"></script>
</body>
</html>